


<div class="main-container">
    <h1>Show Article</h1>  
    <div class="label-container">
    <label>ID</label>
    <input type="text" disabled value="<%= @article.id %>"/>
  </div>

    <div class="label-container">
      <label>Name</label>
      <input type="text" disabled value="<%= @article.name %>"/>
    </div>
    
    <div class="label-container">
      <label>Body</label>
      <textarea disabled><%= @article.body %></textarea>
    </div>
    
    <div class="btn-container">
      <%= link_to "Back", articles_path%>
    </div>
  </div>