<table>
  <tbody>
    <tr>
      <td><%= @article.id %></td>
      <td><%= @article.name %></td>
      <td><%= @article.body %></td>
      <td><%= link_to "Back", articles_path%></td>
    </tr>
  </tbody>
</table>