<table>
  <tbody>
    <tr>
      <th><%= @article.id %></th>
    </tr>
    <tr>
      <th><%= @article.name %></th>
    </tr><tr>
      <th><%= @article.body %></th>
    </tr>
    <tr>
      <td><%= link_to "Back", articles_path%></td>
    </tr>
  </tbody>
</table>