// Place all the styles related to the article controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

*{
    font: normal 15px Arial, sans-serif;
}


.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  h1{
    font-family: Georgia, sans-serif;
    font-size: 5em;
    letter-spacing: -2px;
    color: #336B6B;
  }
  
  .table-new {
    width: 50%;
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
  
    tbody{
      height: 17rem;
    }
  }
  .table-new thead th {
    background-color: #DDEFEF;
    border: solid 1px #DDEEEE;
    color: #2ca8da;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
  }
  .table-new tbody td {
    border: solid 1px #DDEEEE;
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
  }
  
  .show a{
    padding:6px 13px;
    text-decoration: none;
    background-color: #45c1d0;
    border: none;
    color: #ffff;
    font: normal 13px Arial, sans-serif;
  }
  
  .edit a{
    padding:6px 13px;
    width: 50px;
    text-decoration: none;
    background-color: #F39C12;
    border: none;
    color: #ffff;
    font: normal 13px Arial, sans-serif;
  }
  
  .delete a{
    padding:6px 13px;
    width: 50px;
    text-decoration: none;
    background-color: #de4a4a;
    border: none;
    color: #ffff;
    font: normal 13px Arial, sans-serif;
  }
  
  .create-container{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .create-container a{
    padding:6px 13px;
    width: 40rem;
    text-decoration: none;
    background-color: #27AE60;
    border: none;
    color: #ffff;
  }


  .main-container{
    display: flex;
    flex-direction: column;
    align-content: center;
    /* margin: 20px; */
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    height: 100%;
  }
  
  .label-container {
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 60%;
  
    label{
      background-color: #DDEFEF;
      border: solid 1px #DDEEEE;
      color: #2ca8da;
      padding: 10px;
      width: 38px;
      margin-bottom: 7px;
      font-weight: bold;
      text-align: left;
      text-shadow: 1px 1px 1px #fff;
    }
    input{
      padding: 12px 20px;
      font-size: 1rem;
      border-style: solid;
      border-color: #2ca8da;
      // text-align: center;
      outline: transparent;
      width: 100%;
     
    }
    textarea{
      padding: 12px 20px;
      font-size: 1rem;
      border: 2px solid #2ca8da;
      // text-align: center;
      outline: transparent;
      width: 100%;
      height: 13rem;
    }
   
  }
  
  .btn-container{
    display: flex;
    width: 100%;
    justify-content: space-evenly;

    input{
      padding: 6px 13px;
      text-decoration: none;
      background-color: #27AE60;
      border: none;
      color: #ffff;
      cursor: pointer;
    }
    a{
      padding: 6px 13px;
      text-decoration: none;
      background-color: #F39C12;
      border: none;
      color: #ffff;
      cursor: pointer;
    }
  }